.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  background: #464242;
  padding: 15px;
}

.label {
  position: relative;
}

.password {
  width: 400px;
  height: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  padding: 3px;
  color: white;
  background-color: transparent;
}
.password::placeholder {
  color: white;
}

.eye {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;

  transform: translate(-50%, -50%);
  cursor: pointer;
  fill: white;
}
